body {
    font-family: Arial;
    background: #111;
    color: white;
    text-align: center;
}

h1 {
    margin-top: 20px;
}

.card {
    background: #1e1e1e;
    padding: 20px;
    margin: 20px auto;
    width: 60%;
    border-radius: 10px;
    box-shadow: 0 0 10px #00ffcc;
}

a {
    color: #00ffcc;
    text-decoration: none;
}

canvas {
    background: black;
    border: 2px solid #00ffcc;
}